@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/** RESET **/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  transition: opacity var(--base-transition-duration);
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.75;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
}

/** END OF RESET **/

:root {
  --max-body-width: 1400px;
  --color-text: #333333;
  --color-primary: #8EADD5;
  --color-secondary: #5A87C2;
  --base-transition-duration: 0.15s;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
  padding: 0 30px 50px;
  min-width: 360px
}

main {
  max-width: var(--max-body-width);
  margin: 0 auto;
}

/* UI COMPONENTS */

.button {
  padding: 0.75rem 1.25rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.9rem;
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /* maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /* modern browsers, clip-path works inwards from each corner */
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* END OF UI COMPONENTS */

/* MOBILE MENU */

.mobile-menu {
  background-color: #fff;
  position: fixed;
  inset: 0;
  transform: translateX(-100vw);
  z-index: 80;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  display: none;
}

.mobile-menu.show {
  transform: translateX(0);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 27px;
  right: 37px;
  padding: 3px;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 2rem;
}

.mobile-menu__links-list {
  display: grid;
  place-items: center;
  row-gap: 35px;
}

.mobile-menu__title {
  font-size: 1.45rem;
  font-weight: 500;
}

.mobile-menu__link {
  padding: 3px;
  transition: color var(--base-transition-duration);
}

/* END OF MOBILE MENU */

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.25s;
}

.modal__content {
  background-color: white;
  max-width: 500px;
  width: 100%;
  scrollbar-width: thin;
  max-height: 95vh;
  overflow-y: auto;
  position: relative;
  border-radius: 5px;
  padding: 50px;
  font-size: 1.25rem;
  transform: scale(0);
  transition: transform 0.25s, opacity 0.25s;
  z-index: 25;
}

.modal__close-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__close-btn svg {
  width: 30px;
  cursor: pointer;
}

.contact__form {
  background-color: var(--bg-color-secondary);
  transition: background-color var(--base-transition-duration);
}

.contact__form-title {
  font-size: 2rem;
  margin: 0 0 30px;
  transition: color var(--base-transition-duration);
}

.contact__nif-input, 
.contact__email-input,
.contact__message-textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  transition: border var(--base-transition-duration), background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.contact__nif-input, 
.contact__email-input {
  padding: 12px 18px;
  font-size: 1rem;
  margin: 0 0 20px;
  width: 100%;
}

.contact__name-email-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.contact__message-textarea {
  resize: vertical;
  width: 100%;
  height: 275px;
  min-height: 200px;
  max-height: 400px;
  padding: 12px 18px;
  font-size: 1rem;
  margin: 0 0 20px;
}

.contact__submit-btn {
  background-color: var(--color-secondary);
  font-size: 1.075rem;
}

/* END OF MODAL */

/* NAVBAR */

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: center;
  max-width: var(--max-body-width);
  margin: 0 auto;
  padding: 2rem 0;
}

.navbar__title {
  font-size: 1.5rem;
}

.navbar__nav-list {
  display: grid;
  grid-auto-flow: column;
  gap: 2.75rem;
}

.navbar__nav-list-link {
  font-size: 1.095rem;
  transition: color var(--base-transition-duration);
}

.navbar__menu-btn {
  display: none;
}

/* END OF NAVBAR */

/* HERO SECTION */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 4rem;
  padding: 0 5rem;
  align-items: center;
  margin-top: 5rem;
}

.hero__title {
  font-size: 4rem;
}

.hero__description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.hero__img-container {
  display: inline-block;
}

.hero__img {
  display: block;
}

.hero-compainies-container {
  margin-top: 5rem;
  text-align: center;
}

.hero-compainies__intro-text {
  opacity: 0.75;
  font-size: 0.9rem;
}

.hero-companies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  max-width: 1000px;
  margin: 1rem auto 0;
  background-color: #f8f8f8;
  border-radius: 0.4rem;
  padding: 1rem;
  gap: 1rem;
}

.hero-companies__list li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.25rem;
  justify-self: center;
}

.hero-companies__list li:last-child {
  gap: 0.5rem;
}

.hero-companies__list-icon {
  width: 3rem;
  line-height: 0;
}

/* END OF HERO SECTION */

/* MEDIA QUERIES FOR HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  button:is(:hover, :focus-visible) {
    opacity: 0.75;
  }

  .navbar__nav-list-link:is(:hover, :focus-visible),
  .mobile-menu__link:is(:hover, :focus-visible) {
    color: var(--color-secondary);
  }
}

/* END OF MEDIA QUERIES FOR HOVER CAPABLE DEVICES */

/* ACTIVE */

button:active {
  opacity: 1;
  transition: none;
}

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .navbar__nav-list {
    display: none;
  }

  .navbar__menu-btn {
    display: inline-block;
  } 

  .navbar__menu-icon {
    width: 2rem;
  }

  .hero-container {
    gap: 4rem;
    padding: 0;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    display: block
  }

  .hero__info {
    margin-bottom: 4rem;
  }

  .hero__img-container {
    display: inline-block;
  }

  .hero__img {
    display: block;
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 675px) {
  .hero-companies__list li {
    display: block;
  }

  html {
    font-size: 15px;
  }

  .hero__title {
    font-size: 3.75rem;
  }  
}

@media screen and (max-width: 500px) {
  .navbar__title {
    font-size: 1.2rem;
  }

  .hero-container {
    margin-top: 3.75rem;
  }

  .hero__title {
    font-size: 3.25rem;
  }

  .contact__name-email-container {
    display: block;
  }

  .contact__form {
    text-align: center;
  }

  .modal__content {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 450px) {
  .hero__title {
    font-size: 2.75rem;
  }

  .modal__content {
    padding: 30px 20px;
  }

  .contact__form-title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 365px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

/* END OF MEDIA QUERIES */